:root {
  --mainFontColor: #333333;
  --red: #c40909;
  --dark-pink: #f18b8b;
  --light-pink: #e4cbcb;
  --white: #ffffff;
  --grey: #75728d;
  --light-grey: #aeadbd;
  --light: #eef2f1;
  --basic: #f1f1f1;
}
